* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  line-height: 1;
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight:normal;
}

input,
select,
option,
optgroup,
textarea,
button,
pre,
code {
  font-size: 100%;
  font-family: inherit;
}

ol,
ul {
  list-style: none;
}

:root {
  --clr:#ffaa01;
  --clr-gray :#383838;
  --clr-light-gray :#dbdbdb;
  --clr-font: #eee;
}

body{background: linear-gradient(0.25turn, #252525, #1d1d1d);font-family: 'Poppins', sans-serif;text-align: center;}
.maincontainer{margin:0 auto;width:90%;
  margin:0 auto;
  border-radius: var(--border-radius);
  max-width: 1260px;font-family: sans-serif;}

.contentbox{background-color:var(--clr-gray);padding:30px;box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);text-align: left;border-left:3px solid var(--clr)}
.contentbox h2{color:var(--clr);font-size:1.5em;font-weight:bold;margin-bottom:10px;}
.contentbox p{color:var(--clr-font);line-height: 160%;}

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
  .maincontainer{width:95%;}
}
  
/* Large smartphones */
@media screen and (max-width: 768px) {

}

/* Small smartphones  */
@media screen and (max-width: 576px) {

}
  